<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Chajr_FreshSales>
            <version>0.3.0</version>
        </Chajr_FreshSales>
    </modules>
    <global>
        <models>
            <mymodule>
                <class>Chajr_FreshSales_Model</class>
            </mymodule>
        </models>
        <helpers>
            <mymodule>
                <class>Chajr_FreshSales_Helper</class>
            </mymodule>
        </helpers>

        <resources>
            <chajr_freshsales_setup>
                <setup>
                    <module>Chajr_FreshSales</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chajr_freshsales_setup>

            <chajr_freshsales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chajr_freshsales_write>

            <chajr_freshsales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chajr_freshsales_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <chajr_freshsales>
                            <title>FreshSales configuration</title>
                            <sort_order>500</sort_order>
                        </chajr_freshsales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chajr_freshsales>FreshSales API Configuration</chajr_freshsales>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
